/* css resets */
*{
  margin:0;
  padding: 0;
  box-sizing:border-box;
}
main{
  margin:5%
}
h1{
  color : #004080;
  margin-top: 30px;
  margin-left: 30px;
  padding-top: 30px;
}

/* to make rows and columns use float and clear */
.row{
  width: 100%;
  height: 600px;
  /* background: pink; */
}

.col{
  width: 50%;
  height: 500px;
  float: left;
  /* border: 2px solid blue; */
  padding: 30px;

}

/* floats are cleared after the row */
.row:after{
  clear:both;
  display:table;
  content:"";
}

.Chocolates{
  width: 60%;
  height:auto;
  max-width: 300px;
}

.nameChocolate{
  /* background: black; */
  color: #004080;
  margin-bottom: 30px
}

.priceChocolate{
color:#004080;
line-height: 25px;
}

.ingredients{
  color: #004080;
  margin-bottom: 30px;
}

.description{
  font-size: 18px;
  line-height: 25px;
  width: 60%;
  color: #004080;
}

html{
  background-color: pink;
}

.navlist{
  list-style: none;
  display: inline;
  margin: auto 3%;
  text-decoration: none;
  transition: 1s;
  padding: 1%;
}

header {
  text-align: center;
}

.logo{
  margin-bottom: 20px;
}

.banner{
  width: 90%;
  height: auto;
  max-height: 300px;
  margin: 20px auto;
  display:block:;
}

.BannerText1{

}
